{# templates/home/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <style>
        .container {
            margin-top: 3rem;
            max-height: calc(100vh - 100px); 
            padding: 0 15px; 
        }

        .title {
            font-size: 2.5rem;
            color: #343a40;
            text-align: center;
            margin-bottom: 2rem;
            margin-left: -15px; 
            margin-right: -15px; 
        }

        .subtitle {
            font-size: 1.3rem;
            color: #6c757d;
            margin-bottom: 1.5rem;
            margin-left: -15px; 
            margin-right: -15px; 
        }

        .content {
            font-size: 1.1rem;
            line-height: 1.8;
            color: #343a40;
            margin-bottom: 1.5rem;
            margin-left: -15px; 
            margin-right: -15px;
        }

        .highlight {
            color: #007bff;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="title">Bienvenue sur Save2PDF</h1>
    <p class="subtitle">Convertissez vos pages web en fichiers PDF en un clic</p>
    <p class="content">Save2PDF est une application web simple et efficace conçue pour vous permettre de convertir facilement des pages web en fichiers PDF. Que vous ayez besoin de sauvegarder des articles, des recettes, des factures ou tout autre contenu en ligne, Save2PDF vous offre une solution rapide et pratique.</p>
    
    <p class="subtitle">Facile à utiliser</p>
    <p class="content">Avec Save2PDF, il vous suffit de copier et coller l'URL de la page web que vous souhaitez convertir en PDF, et notre application se charge du reste. Plus besoin de jongler avec des extensions de navigateur ou des logiciels compliqués - obtenez votre document au format PDF en un seul clic.</p>
    
    <p class="subtitle">Personnalisable et Gratuit</p>
    <p class="content">Personnalisez vos fichiers PDF en choisissant parmi une gamme d'options, telles que la mise en page, les marges, la qualité d'image et plus encore. Obtenez des fichiers PDF impeccables, prêts à être partagés ou archivés selon vos besoins. Save2PDF est entièrement gratuit et sans publicité. Nous croyons en la simplicité et l'accessibilité, c'est pourquoi notre application est disponible pour tous, sans frais cachés ni distractions publicitaires.</p>
    
    <p class="subtitle">Essayez dès aujourd'hui</p>
    <p class="content">Essayez Save2PDF dès aujourd'hui et découvrez la simplicité de la conversion de pages web en PDF. Convertissez, téléchargez et partagez vos documents PDF en toute simplicité, où que vous soyez.</p>

    <ul class="list-group">
        <li class="list-group-item"><a href="{{ path('app_generate-pdf') }}" class="text-primary text-decoration-none">Générer un PDF</a></li>
    </ul>
</div>
{% endblock %}
